<h1>Instructor Registration</h1>
<br>

<%= render 'shared/flash' %>

<div class="row">
  <div class="col-xs-4" style="min-width: 275px">
    <%= form_for @instructor, url: instructor_registrations_path do |f| %>
    <%= render partial: "shared/registration", locals: {f: f} %>
    <% end %>
  </div>
</div>
