<div id="feedback-completed">
  <h3>Your Feedback</h3>
  <br>
  <blockquote>
    <p id="review-content"><%= current_user.get_review(lecture.id) %></p>
    <footer id="signature"><%= current_user.name %></footer>
  </blockquote>

  <div id="review-data" style="display: none;" data-username="<%= current_user.name %>" data-review-id="<%= current_user.get_review_id(lecture.id) %>"></div>

  <button id="remove-name" class="btn btn-edit">Make Feedback Anonymous</button>
  <button id="add-name" class="btn btn-edit">Add Name to Feedback</button>
  <button id="edit-feedback" class="btn btn-edit">Edit Feedback</button>
  <button id="delete-feedback" class="btn btn-edit">Delete Feedback</button>
</div>