<div id="feedback-completed">
  <h3>Your Feedback</h3>
  <br>
  <blockquote>
    <p id="review-content"><%= current_user.get_review(lecture.id) %></p>
    <footer id="signature"><%= current_user.name %></footer>
  </blockquote>
