<div id="show-tips">
  <small>Show tips</small>
</div>

<div id="tips">
  <ul class="list-group">
    <li class="list-group-item">Always try and provide constructive comments--they help make your lecture experience better!</li>
    <li class="list-group-item">Feedback can be delivered anonymously by clicking on your name.</li>
  </ul>
</div>