<h1>Student Registration</h1>
<br>

<div class="row">
  <div class="col-xs-5" style="min-width: 275px">
    <%= render 'shared/flash' %>
    <%= form_for @student, url: student_registrations_path do |f| %>
    <%= render partial: "shared/registration", locals: {f: f} %>
    <% end %>
  </div>
</div>
