<div class="row">
  <div class="col-xs-5" style="min-width: 275px">

    <h2 class="text-center">Hello <%= @current_user.name %></h2>
    <p class="text-center">Edit your information here.</p>
    <br>
    <%= render partial: 'shared/flash' %>

    <%= render partial: "shared/user_edit", locals: {current_user: @current_user} %>

  </div>
</div>
