<% if courses.empty? && current_user.class.to_s == "Instructor" %>
  <br>
  <h4 id="join-course-prompt"> <em>Please search for a course to join!</em></h4>
  <br>
<% end %>

  <div class="ui-widget">
    <label for="search">
      <button id='autocomplete-search' class='btn btn-sm    btn-search'>Search</button>
    </label>
    <input id="search" size="50" placeholder="find course by name or description">
  </div>

  <div id="find-course">

</div>
