<div class="course-create">
  <%= form_tag new_course_path, method: "get" do %>
    <label for="course-create">
      <button id='course-create' class='btn btn-search under-widget' type="submit">Create</button>
      <label id='course-create-text'>create new course</label>
    </label>
  <% end %>
</div>
