<h1>Courses</h1>

<br>
<%= render 'shared/flash' %>
<%= render partial: "courses", locals: { courses: @courses} %>

<%= render partial: "autocomplete", locals: { courses: @courses, current_user: @current_user } %>


<% if current_user.class.to_s == "Instructor" %>
  <%= render "create_button" %>
<% end %>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
