<h1>Courses</h1>

<br>
<%= render 'shared/flash' %>
<%= render partial: "courses", locals: { courses: @courses} %>

<div id="course-search-area">
  <p>Search for a course</p>
  <%= render partial: "autocomplete", locals: { courses: @courses, current_user: @current_user } %>
</div>

<br>

<% if current_user.class.to_s == "Instructor" %>
<div id="course-create-area">
  <p>Create a new course</p>
  <%= render "create_button" %>
</div>
<% end %>

<!-- JQuery UI CDN -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
