<h1><em>Course: <%= @course.title %></em></h1>
<h3><small><%= @course.description %></small></h3>
<hr>

<div class="ui-widget">
  <label for="search">
    <button class='btn btn-xs btn-search'>Invite Student to Course</button>
  </label>
  <input id="student-search" size="30" placeholder="find student by name or email">
</div>

<hr>

<br>
<% unless @lectures.empty? %>
  <button id="lecture-display" class='btn btn-lg btn-submit '>See Lectures</button>
  <button id="student-display" class='btn btn-lg btn-submit '>See Students</button>

  <%= render partial: "lecture_list", locals: { lectures: @lectures} %>

  <div>
    <%= render partial: "student_list", locals: { students: @students} %>
  </div>
<% else %>
  <p class='text-muted'>
    There are currently no lectures for this course
  </p>
<% end %>


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
