<h2><%= @course.title %></h2>
<p><%= @course.description %></p>


<div class="ui-widget">
  <label for="search">
    <button id='autocomplete-search' class='btn btn-sm btn-search'>Search</button>
  </label>
  <input id="student-search" size="50" placeholder="find student by name or email">
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
