#search {
  margin-left: 5px;
  padding-left: 5px;
}

#student-search {
  margin-left: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.ui-autocomplete-category {
  padding-left: 5px;
  margin-left: -3px;
}


.btn-search:hover {
  color: #ffffff !important;
  background-color: gray
}

#show-tips:hover {
  cursor: pointer;
}

.panel-heading {
  background-color: #bfbfbf !important;
}

.panel {
  border-color: #bfbfbf !important;
}

.course-create {
  margin-top: 15px;
}

.under-widget {
  font-family: Verdana, Arial, sans-serif !important;
  font-size: 1.05em !important;
  font-weight: 580 !important;
  line-height: 1.5 !important;
}

#course-create-text {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 500;
}

.password-form {
  margin-left: 10px;
  margin-right: 10px
}

#student-display {
  margin-left: 10px;
}

.student-list {
  display: none;
}

#create-lecture {
  margin-top: 5px;
}

.div_common {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-gap: 30px;
column-gap: 15px;
-moz-column-gap: 30px;
}

/*uncomment the following lines to make courses show page student remove button inline with student email*/
/*p.student-list, a.remove-student {
  display: inline;
}

a.remove-student {
  margin-left: 10px;
}*/
