<% if current_user.class == Student %>
<h1>Your Feedback</h1>
<% else %>
<h1>My Feedback</h1>
<% end %>

<% reviews.each do |review| %>

<blockquote>
  <%= review.content %>
  <footer>
    <% if review.anonymous %>
    Anonymous, on <em><%= review.lecture.title %></em>
    <% else %>
    <%= review.student.name %> on <em><%= review.lecture.title %></em>
    <% end %>
  </footer>
</blockquote>

<% end %>